<p-card header="Signup!" class="col-sm-12">
  <form #form="ngForm" (ngSubmit)="signup(form)" class="form flex flex-column justify-content-between gap-2">
    <div class="p-inputgroup flex flex-column">
      <div class="d-flex">
        <span class="p-inputgroup-addon">
          <i class="pi pi-id-card"></i>
      </span>
        <input ngModel pInputText placeholder="Name" name="name" #name="ngModel" type="text" required/>
      </div>
      <div class="p-error d-flex" *ngIf="name.invalid && name.touched">Name is required</div>
    </div>

    <div class="p-inputgroup flex flex-column">
      <div class="d-flex">
        <span class="p-inputgroup-addon">
          <i class="pi pi-at"></i>
      </span>
        <input ngModel pInputText placeholder="Email" name="email" #email="ngModel" type="email" required email/>
      </div>
      <div class="p-error d-flex" *ngIf="email.errors?.['required'] && email.touched">Email is required</div>
      <div class="p-error d-flex" *ngIf="email.errors?.['email'] && email.touched">Please enter a valid email</div>
    </div>

    <div class="p-inputgroup flex flex-column">
      <div class="d-flex">
        <span class="p-inputgroup-addon">
          <i class="pi pi-eye"></i>
      </span>
        <input ngModel pInputText placeholder="Password" name="password" #password="ngModel" type="password" required
               minlength="6"/>
      </div>
      <div class="p-error d-flex" *ngIf="password.errors?.['required'] && password.touched">Password is required</div>
      <div class="p-error d-flex" *ngIf="password.errors?.['minlength'] && password.touched">Password length must be at least 6 characters</div>
    </div>

    <div class="p-inputgroup flex flex-column">
      <div class="d-flex">
        <span class="p-inputgroup-addon">
          <i class="pi pi-unlock"></i>
      </span>
        <input ngModel pInputText placeholder="Confirm Password" name="confirmPassword" #confirmPassword="ngModel"
               type="password" required/>
      </div>
      <div class="p-error d-flex" *ngIf="confirmPassword.invalid && confirmPassword.touched">Password is required</div>
      <div class="p-error d-flex" *ngIf="confirmPassword.value !== password.value && confirmPassword.touched">Passwords didn't match</div>
    </div>

    <button class="flex" pButton
            [disabled]="form.invalid || confirmPassword.value !== password.value">Signup
    </button>
  </form>
</p-card>
