.landing {
  width: 100%;
  height: calc(100% - 56px);
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:-1;
  background-image: url("/assets/Hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-up-form {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 11rem);
  width: 22rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 20rem;
  box-shadow: 0 3px 10px #ddd;
  input {
    height: fit-content;
  }
}
