::ng-deep {
  p-menubar {
    .p-menubar {
      background-color: transparent;
      border: none;
      img {
        cursor: pointer;
      }
      p-menubarsub {
        width: 100%;
        .p-menubar-root-list {
          justify-content: flex-start;
          font-size: 1.5rem;
          .navigation-text {
            a {
              span.p-menuitem-text {
                color: var(--text-color-secondary) !important;
                font-weight: bold;
              }
            }
            a:hover {
              background: none !important;
              span.p-menuitem-text {
                color: var(--primary-700) !important;
              }
            }
            a:focus {
              box-shadow: none !important;
            }
          }
          li.user-menu {
            .p-menuitem-link {
              .p-menuitem-icon::before {
                font-size: 1.5rem;
              }
            }
            p-menubarsub {
              .p-submenu-list {
                width: 10rem;
                font-size: 1rem;
                li.p-menuitem {
                  span.p-menuitem-icon::before {
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
