<!--<p-table #dt [columns]="cols" [globalFilterFields]="['productName', 'productType', 'productCountryOfOrigin']" [value]="data" dataKey="id"-->
<!--         [tableStyle]="{ 'min-width': '50rem' }">-->

<!--  <ng-template pTemplate="caption">-->
<!--    <div class="flex justify-content-between">-->
<!--      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>-->
<!--      <div class="d-flex flex-column">-->
<!--        <span class="p-input-icon-left ml-auto">-->
<!--          <i class="pi pi-search"></i>-->
<!--          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"-->
<!--                 placeholder="Search keyword"/>-->
<!--        </span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="header" let-columns>-->
<!--    <tr>-->
<!--      <th *ngFor="let col of columns" [pSortableColumn]="col.field">-->
<!--        {{ col.header }}-->
<!--        <p-sortIcon [field]="col.field"></p-sortIcon>-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-rowData let-columns="columns">-->
<!--    <tr>-->
<!--      <td *ngFor="let col of columns">-->
<!--        {{ rowData[col.field] }}-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->
<app-table [data]="data" [cols]="cols" [filterCols]="filterCols"></app-table>
